@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=STIX+Two+Math&display=swap');

body {
  margin: 0;
  overflow: hidden;
}

.left-side {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none;
  background-color: rgba(241, 255, 86, 255);
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  background-color: rgb(221, 250, 250);
  color: white;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    display: flex;
    min-height: 100vh;
  }

  .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-color: rgba(241, 255, 86, 255);
    position: relative;
  }

  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 1em;
  }

  .transition1-left {
    animation: transition1-left;
    animation-duration: 3s;
  }

  .transition1-right {
    animation: transition1-right;
    animation-duration: 3s;
  }

  .transition2-left {
    animation: transition2-left;
    animation-duration: 3s;
  }

  .transition2-right {
    animation: transition2-right;
    animation-duration: 3s;
  }

  @keyframes transition1-left {
    from {
      width: 5%;
    }

    to {
      width: 50%;
    }
  }

  @keyframes transition1-right {
    from {
      width: 95%;
    }

    to {
      width: 50%;
    }
  }

  @keyframes transition2-left {
    from {
      width: 95%;
    }

    to {
      width: 50%;
    }
  }

  @keyframes transition2-right {
    from {
      width: 5%;
    }

    to {
      width: 50%;
    }
  }

  .expand-projects-left {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 5%;
    background: none;
    background-color: rgba(241, 255, 86, 255);
    box-shadow: none;
    position: relative;
    animation: slideout;
    animation-duration: 3s;
  }

  .expand-projects-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 1em;
    animation: slidein;
    animation-duration: 1s;
  }

  .expand-about-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 95%;
    background: none;
    background-color: rgba(241, 255, 86, 255);
    box-shadow: none;
    position: relative;
    animation: slidein;
    animation-duration: 3s;
  }

  .expand-about-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 1em;
    animation: slideout;
    animation-duration: 1s;
  }

  @keyframes slidein {
    from {
      width: 50%;
    }

    to {
      width: 95%;
    }
  }

  @keyframes slideout {
    from {
      width: 50%;
    }

    to {
      width: 5%;
    }
  }

  .title-line1 {
    font-family: 'Lexend', sans-serif;
    color: rgba(20, 20, 20, 0.747);
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: 0px;
    position: absolute;
    top: 15vh;
    left: 50vw;
    right: 50vw;
    transform: translateY(-50%);
    transform: translateX(-50%);
  }

  .title-line1 h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.02em;
    animation: typing 0.9s steps(10, end);
  }

  .title-line2 {
    font-family: 'Lexend', sans-serif;
    color: rgba(20, 20, 20, 0.747);
    font-size: 4em;
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    position: absolute;
    top: 45vh;
    left: 50vw;
    right: 50vw;
    transform: translateY(-50%);
    transform: translateX(-50%);
  }

  .title-line2 h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.02em;
    animation: typing 0.9s 0.9s steps(10, end), delay-appear 1s;
  }

  .title-line2 span {
    color: rgb(143, 26, 143);
  }

  @keyframes delay-appear {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: grey;
    }
  }

  .back-projects {
    font-family: 'Open Sans', cursive;
    background-color: rgb(66, 65, 66);
    color: rgb(255, 255, 255);
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    padding: 0px;
    position: absolute;
    top: 42vh;
    left: 5vw;
    right: 50vw;
    transform: translateY(-50%);
    transform: translateX(-50%);
    animation: slideleft;
    animation-duration: 3s;
  }

  .back-about {
    font-family: 'Open Sans', cursive;
    background-color: rgb(66, 65, 66);
    color: rgb(255, 255, 255);
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    padding: 0px;
    position: absolute;
    top: 42vh;
    left: 95vw;
    right: 50vw;
    transform: translateY(-50%);
    transform: translateX(-50%);
    animation: slideright;
    animation-duration: 3s;
  }

  @keyframes slideleft {
    from {
      left: -40vw;
    }

    to {
      left: 5vw;
    }
  }

  @keyframes slideright {
    from {
      left: 130vw;
    }

    to {
      left: 95vw;
    }
  }

  .back-projects:hover {
    background-color: rgba(66, 65, 66, 0.658);
    cursor: pointer;
    transition: 0.25s;
  }

  .back-about:hover {
    background-color: rgba(66, 65, 66, 0.658);
    cursor: pointer;
    transition: 0.25s;
  }

  h1 {
    font-size: 2.75em;
  }

  .box {
    font-family: 'Lexend', sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    border-radius: 25px;
    border: solid 3px;
    transition: 0.05s;
  }

  .about {
    margin-right: 350px;
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.753);
  }

  .about:hover {
    background-color: rgba(255, 255, 255, 0.418);
    cursor: pointer;
  }

  .projects {
    color: rgb(36, 36, 36);
    margin-left: 350px;
    transition: 0.2s;
    border: solid 3px;
  }

  .projects:hover {
    background-color: rgba(207, 240, 89, 0.226);
    cursor: pointer;
  }

  .arrow {
    font-size: 1.3em;
    margin-right: 5px;
  }

  .hikeme,
  .bopit,
  .recipes,
  .barber {
    width: 490px;
    height: 240px;
  }

  .projects-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50vw;
    align-content: center;
    align-items: center;
    height: 80%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }

  .projects-container div {
    margin-left: 15px;
    margin-right: 15px;
  }

  .upper-projects {
    animation: upper-proj 2s;
  }

  .lower-projects {
    animation: lower-proj 2s;
  }

  @keyframes upper-proj {
    from {
      margin-top: -100vh;
    }

    to {
      margin-top: 0;
    }
  }

  @keyframes lower-proj {
    from {
      margin-bottom: -100vh;
    }

    to {
      margin-bottom: 0;
    }
  }
}
